<%- include('partials/head') %>

<body  >
    <br>
    <hr>
    <h1 class="container d-flex justify-content-center">
        <a href="./perguntar">
        Perguntas e Respostas</a></h1>  
    <hr>

    <h2>Relação de Perguntas</h2>
    
    <div class="container">
        
            <% perguntas.forEach(pergunta => { %>            
                <div class="card">
                    <h4>Pergunta: <%= pergunta.titulo %></h3>
                    <h4>Descrição: <%= pergunta.descricao %></h3>                    
                </div>
                <br>                
            <%})%>
        </div>       
    </div>


    
</body>
<%- include('partials/footer') %>
